@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');
.grid, .grid-responsive {
  flex-direction: column;
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
}
.grid .row, .grid-responsive .row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
}

.col-1-12 {
  width: 8.3333333333%;
}

.col-1-12-mobile {
  width: 8.3333333333%;
}

.col-2-12 {
  width: 16.6666666667%;
}

.col-2-12-mobile {
  width: 16.6666666667%;
}

.col-3-12 {
  width: 25%;
}

.col-3-12-mobile {
  width: 25%;
}

.col-4-12 {
  width: 33.3333333333%;
}

.col-4-12-mobile {
  width: 33.3333333333%;
}

.col-5-12 {
  width: 41.6666666667%;
}

.col-5-12-mobile {
  width: 41.6666666667%;
}

.col-6-12 {
  width: 50%;
}

.col-6-12-mobile {
  width: 50%;
}

.col-7-12 {
  width: 58.3333333333%;
}

.col-7-12-mobile {
  width: 58.3333333333%;
}

.col-8-12 {
  width: 66.6666666667%;
}

.col-8-12-mobile {
  width: 66.6666666667%;
}

.col-9-12 {
  width: 75%;
}

.col-9-12-mobile {
  width: 75%;
}

.col-10-12 {
  width: 83.3333333333%;
}

.col-10-12-mobile {
  width: 83.3333333333%;
}

.col-11-12 {
  width: 91.6666666667%;
}

.col-11-12-mobile {
  width: 91.6666666667%;
}

.col-12-12 {
  width: 100%;
}

.col-12-12-mobile {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .grid-responsive .row {
    flex-direction: column;
  }

  .col-1-12-mobile {
    width: 100%;
  }

  .col-2-12-mobile {
    width: 100%;
  }

  .col-3-12-mobile {
    width: 100%;
  }

  .col-4-12-mobile {
    width: 100%;
  }

  .col-5-12-mobile {
    width: 100%;
  }

  .col-6-12-mobile {
    width: 100%;
  }

  .col-7-12-mobile {
    width: 100%;
  }

  .col-8-12-mobile {
    width: 100%;
  }

  .col-9-12-mobile {
    width: 100%;
  }

  .col-10-12-mobile {
    width: 100%;
  }

  .col-11-12-mobile {
    width: 100%;
  }

  .col-12-12-mobile {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}

.padded {
  padding: 5em;
}

.lightpadding {
  padding: 1em;
}

.button {
  transition: all 0.1s;
  border-radius: 1em;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f0f0f0;
  font-weight: 600;
  font-size: 1.5em;
  cursor: pointer;
  border: 0px solid rgba(23, 34, 66, 0.2);
  width: 100%;
}
.button:hover {
  border: 10px solid rgba(23, 34, 66, 0.4);
  border-radius: 2em;
}

html {
  height: 100%;
  font-family: Roboto;
}

body {
  min-height: 100%;
}

.width-90 {
  width: 90%;
}

.height-90 {
  height: 90%;
}

.fill_container {
  height: 100%;
  width: 100%;
}

.cap-width-50em {
  max-width: 50em;
}

.full-page{
  min-height:100vh;
}

.banner {
  width: 100%;
  padding: 20px;
  margin-top: 1em;
  height: 60px;
}

.centerer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.justified-left {
  display: flex;
  justify-content: flex-start;
}

.justified-right {
  display: flex;
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.aligned-center {
  align-items: center;
}

.aligned-right {
  align-items: right;
}

.aligned-left {
  align-items: left;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

h1 {
  font-size: 1.5em;
  color: #f0f0f0;
}

.text {
  color: #f0f0f0;
  line-height: 1.4;
  font-size: 1.2em;
  margin: 10px;
}

.input {
  width: 100%;
  background: none;
  border: none;
  color: #f0f0f0;
  font-size: 1.5em;
  border-bottom: 3px solid white;
  font-family: Roboto;
  padding-bottom: 5px;
  margin: 10px;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.red {
  background-color: #bf2626;
}

.darkblue {
  background-color: #374a82;
}

.darkestblue {
  background-color: #1e2948;
}

.blue {
  background-color: #668cff;
}

